/*
 * supcode Nova styles
 * v1.0.0
 * source at <https://github.com/Sup2point0/supcode/blob/sup/resources/Nova/Nova.css>
 */

:root {
  --blue-nova: #4090f1;
  --blue-cresc: #c0f0ff;
  --blue-spirit: #70c7ff;
  --blue-sky: #45c7f1;
  --blue-ocean: #2070c1;
  --blue-deep: #145090;
  --blue-night: #00172a;
  --blue-elec: #40e0ff;
  --blue-accent: #0064f1;
  
  --pink-elec: #ff0090;
  --pink-spirit: #f190f1;
  --red-nova: #ff0040;
  --red-spirit: #ff2000;
  --red-cresc: #ffc0a9;
  --orange-spirit: #ff7000;
  --orange-solar: #ff9020;
  --yellow-solar: #ffa920;
  --yellow-nova: #ffc720;
  --mellow-cresc: #fff0c0;
  --green-solar: #70c720;
  --green-spirit: #40c740;
  --green-nova: #00c745;
  --aquamarine-accent: #33c070;
  --teal-elec: #40f190;
  --teal-lightning: #c1fff1;
  --teal-spirit: #60c7c7;
  --teal-nova: #409090;
  --purp-nova: #9040f1;
  --lilac-nova: #9090f1;
  --lilac-cresc: #c7c7ff;
  
  --grey-nova: #a9b0b8;
  --grey-swallow: #dfe7f1;
  --grey-spirit: #c7d0d9;
  --grey-ocean: #90969e;
  --grey-storm: #70767c;
}
